---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
---

<div class="jumbotron">
    <p>
        The primary focus of the <b>Biomedical Discovery Informatics</b> unit at Data Science Institute of NUI Galway is
        cutting-edge AI and machine learning solutions motivated by and validated within a wide range of
        practically-relevant life science use cases. This research falls under the general umbrella of discovery
        informatics that has recently emerged as a field that explores the potential of applying various computer
        science technologies like Semantic Web, big data analytics, AI or machine learning to interdisciplinary
        challenges in turning data and information into actual knowledge.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
