<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1093/bioinformatics/btz600">Discovering protein drug targets using knowledge graph embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, and Aayah Nounu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Briefings in Bioinformatics 36(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1016/j.ins.2019.08.061">Predicting tissue-specific protein functions using multi-part tensor decomposition</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed.
			</span><br />
			<span class="venuetype"></span><span class="venue">Infomation Sciences</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1093/bib/bbx099">Facilitating prediction of adverse drug reactions by using knowledge graphs and multi-label learning models</a>.
			</span><br />
			<span class="authors">
				Emir Muñoz, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Briefings in Bioinformatics 20(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-2377/paper_1.pdf">Loss Functions in Knowledge Graph Embedding Models</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, Pierre-Yves Vandenbussche, and Emir Muñoz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Workshop on Deep Learning for Knowledge Graphs (DL4KG2019) Co-located with the 16th Extended Semantic Web Conference 2019 (ESWC 2019), Portoroz, Slovenia, June 2, 2019 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-030-21348-0_16">Link Prediction Using Multi Part Embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Semantic Web - 16th International Conference, ESWC 2019, Portoro\vz, Slovenia, June 2-6, 2019, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3297280.3297282">Drug target discovery using knowledge graph embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Aayah Nounu, and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 34th ACM/SIGAPP Symposium on Applied Computing, SAC 2019, Limassol, Cyprus, April 8-12, 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3167132.3167346">Knowledge base completion using distinct subgraph paths</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 33rd Annual ACM Symposium on Applied Computing, SAC 2018, Pau, France, April 09-13, 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1809.07685">Finding Explanations of Entity Relatedness in Graphs: A Survey</a>.
			</span><br />
			<span class="authors">
				Raoul Biagioni, Pierre-Yves Vandenbussche, and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-319-59888-8_26">Identifying Equivalent Relation Paths in Knowledge Graphs</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Emir Muñoz, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Language, Data, and Knowledge - First International Conference, LDK 2017, Galway, Ireland, June 19-20, 2017, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-319-71249-9_40">Regularizing Knowledge Graph Embeddings via Equivalence and Inversion Axioms</a>.
			</span><br />
			<span class="authors">
				Pasquale Minervini, Luca Costabello, Emir Muñoz, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning and Knowledge Discovery in Databases - European Conference, ECML PKDD 2017, Skopje, Macedonia, September 18-22, 2017, Proceedings, Part I (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://knowledge.amia.org/amia-63300-1.3360278/t004-1.3364525/f004-1.3364526/2499657-1.3364713/2500122-1.3364708">Using Drug Similarities for Discovery of Possible Adverse Reactions</a>.
			</span><br />
			<span class="authors">
				Emir Muñoz, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">AMIA 2016, American Medical Informatics Association Annual Symposium, Chicago, IL, USA, November 12-16, 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1503.09137">Formalising Hypothesis Virtues in Knowledge Graphs: A General Theoretical Framework and its Validation in Literature-Based Discovery Experiments</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.lrec-conf.org/proceedings/lrec2014/summaries/1170.html">A Method for Building Burst-Annotated Co-Occurrence Networks for Analysing Trends in Textual Data</a>.
			</span><br />
			<span class="authors">
				Yutaka Mitsuishi, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Ninth International Conference on Language Resources and Evaluation, LREC 2014, Reykjavik, Iceland, May 26-31, 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-1272/paper_88.pdf">SemanTex: Semantic Text Exploration Using Document Links Implied by Conceptual Networks Extracted from the Texts</a>.
			</span><br />
			<span class="authors">
				Suad Aldarra, Emir Muñoz, Pierre-Yves Vandenbussche, and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ISWC 2014 Posters \& Demonstrations Track a track within the 13th International Semantic Web Conference, ISWC 2014, Riva del Garda, Italy, October 21, 2014 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1406.1061">A Methodology for Empirical Analysis of LOD Datasets</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1109/CBMS.2013.6627867">Linking the scientific and clinical data with KI2NA-LHC - An outline</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Aisha Naseer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 26th IEEE International Symposium on Computer-Based Medical Systems, Porto, Portugal, June 20-22, 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/2451176.2451198">SKIMMR: machine-aided skim-reading</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Gully Burns.
			</span><br />
			<span class="venuetype"></span><span class="venue">18th International Conference on Intelligent User Interfaces, IUI '13, Santa Monica, CA, USA, March 19-22, 2013, Companion Volume</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1304.6473">Technical report: Linking the scientific and clinical data with KI2NA-LHC</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Aisha Naseer.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ceur-ws.org/Vol-890">Proceedings of the 2nd Joint Workshop on Knowledge Evolution and Ontology Dynamics, Boston, MA, USA, November 12, 2012</a>.
			</span><br />
			<span class="authors">
				.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1210.3241">Distributional Framework for Emergent Knowledge Acquisition and its Application to Automated Document Annotation</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-642-25073-6_32">Getting the Meaning Right: A Complementary Distributional Layer for the Web Semantics</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Siegfried Handschuh, and Stefan Decker.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Semantic Web - ISWC 2011 - 10th International Semantic Web Conference, Bonn, Germany, October 23-27, 2011, Proceedings, Part I (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1016/j.websem.2010.03.008">CORAAL - Dive into publications, bathe in the knowledge</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Tudor Groza, Siegfried Handschuh, and Stefan Decker.
			</span><br />
			<span class="venuetype"></span><span class="venue">J. Web Semant. 8(2-3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-642-16949-6_34">Biomedical Publication Knowledge Acquisition, Processing and Dissemination with CORAAL</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Siegfried Handschuh.
			</span><br />
			<span class="venuetype"></span><span class="venue">On the Move to Meaningful Internet Systems, OTM 2010 - Confederated International Conferences: CoopIS, IS, DOA and ODBASE, Hersonissos, Crete, Greece, October 25-29, 2010, Proceedings, Part II (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-1-4419-5908-9_9">Towards Knowledge-Based Life Science Publication Repositories</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Tudor Groza, and Siegfried Handschuh.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-642-02976-9_30">CORAAL - Towards Deep Exploitation of Textual Resources in Life Sciences</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Tudor Groza, and Siegfried Handschuh.
			</span><br />
			<span class="venuetype"></span><span class="venue">Artificial Intelligence in Medicine, 12th Conference on Artificial Intelligence in Medicine, AIME 2009, Verona, Italy, July 18-22, 2009. Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1109/CBMS.2009.5255357">Knowledge-based search for oncological literature</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Tudor Groza, and Siegfried Handschuh.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Twenty-Second IEEE International Symposium on Computer-Based Medical Systems, August 3-4, 2009, Albuquerque, New Mexico, USA</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-642-04930-9_29">Towards Lightweight and Robust Large Scale Emergent Knowledge Processing</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Stefan Decker.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Semantic Web - ISWC 2009, 8th International Semantic Web Conference, ISWC 2009, Chantilly, VA, USA, October 25-29, 2009. Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1016/j.jbi.2008.06.003">Infrastructure for dynamic knowledge integration - Automated biomedical ontology extension using textual resources</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Loredana Laera, Siegfried Handschuh, and Brian Davis.
			</span><br />
			<span class="venuetype"></span><span class="venue">J. Biomed. Informatics 41(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-401/iswc2008pd_submission_64.pdf">EUREEKA: Deepening the Semantic Web by More Efficient Emergent Knowledge Representation and Processing</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Poster and Demonstration Session at the 7th International Semantic Web Conference (ISWC2008), Karlsruhe, Germany, October 28, 2008 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-423/pos_paper4.pdf">Relaxing the Basic KR\&R Principles to Meet the Emergent Semantic Web!</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Fourth International Workshop on Uncertainty Reasoning for the Semantic Web, Karlsruhe, Germany, October 26, 2008 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-275/paper10.pdf">Inferential Ontology Learning</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the KWEPSY 2007 Knowledge Web PhD Symposium 2007, Innsbruck, Austria, June 6, 2007 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.aaai.org/Library/FLAIRS/2007/flairs07-060.php">Extending Community Ontology Using Automatically Generated Suggestions</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Maciej Dabrowski, Sebastian Ryszard Kruk, and Siegfried Handschuh.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Twentieth International Florida Artificial Intelligence Research Society Conference, May 7-9, 2007, Key West, Florida, USA</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Imprecise Empirical Ontology Refinement - Application to Taxonomy Acquisition.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICEIS 2007 - Proceedings of the Ninth International Conference on Enterprise Information Systems, Volume AIDSS, Funchal, Madeira, Portugal, June 12-16, 2007</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-540-88710-2_13">Automatic Knowledge Acquisition and Integration Technique: Application to Large Scale Taxonomy Extraction and Document Annotation</a>.
			</span><br />
			<span class="authors">
				Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Enterprise Information Systems, 9th International Conference, ICEIS 2007, Funchal, Madeira, Portugal, June 12-16, 2007, Revised Selected Papers (Lecture Notes in Business Information Processing)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/11762256_8">Empirical Merging of Ontologies - A Proposal of Universal Uncertainty Representation Framework</a>.
			</span><br />
			<span class="authors">
				Vit Novacek and Pavel Smrz.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Semantic Web: Research and Applications, 3rd European Semantic Web Conference, ESWC 2006, Budva, Montenegro, June 11-14, 2006, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.lrec-conf.org/proceedings/lrec2006/summaries/606.html">Text Mining for Semantic Relations as a Support Base of a Scientific Portal Generator</a>.
			</span><br />
			<span class="authors">
				Vit Novacek, Pavel Smrz, and Jan Pomik{\'{a}}lek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Fifth International Conference on Language Resources and Evaluation, LREC 2006, Genoa, Italy, May 22-28, 2006</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/11611257_47">Ontology Acquisition for Automatic Building of Scientific Portals</a>.
			</span><br />
			<span class="authors">
				Pavel Smrz and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">SOFSEM 2006: Theory and Practice of Computer Science, 32nd Conference on Current Trends in Theory and Practice of Computer Science, Mer\'\in, Czech Republic, January 21-27, 2006, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				OLE - A New Ontology Learning Platform.
			</span><br />
			<span class="authors">
				Vit Novacek and Pavel Smrz.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Workshop Text Mining Research, Practice and Opportunities, Proceedings, Borovets, Bulgaria, 24 September 2005, held in conjunction with RANLP 2005</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
